/*.btn{*/
    /*display:inline-block;*/
    /*font-weight:400;*/
    /*line-height:1.25;*/
    /*text-align:center;*/
    /*white-space:nowrap;*/
    /*vertical-align:middle;*/
    /*-webkit-user-select:none;*/
    /*-moz-user-select:none;*/
    /*-ms-user-select:none;*/
    /*user-select:none;*/
    /*border:1px solid transparent;*/
    /*padding:.5rem 1rem;*/
    /*font-size:1rem;*/
    /*!*border-radius:.25rem;*!*/
    /*-webkit-transition:all .2s ease-in-out;*/
    /*-o-transition:all .2s ease-in-out;*/
    /*transition:all .2s ease-in-out*/
/*}*/
#bge{
    background-image: url(../img/topbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.film{
    text-transform: uppercase!important;
}
.television{
    text-transform: uppercase!important;
}
.theatre{
    text-transform: uppercase!important;
}
.uk-subnav-pill>.uk-active>a.about {
    background-color: #f83d34!important;
    color: #fff;
}
.uk-subnav-pill>.uk-active>a {
    background-color: #ffffff!important;
    color: #f83d34;
}
.uk-subnav>*>:first-child {
    text-transform: capitalize!important;
    color: #fff;
}
 .bg-default{
     background-color: #c3dd3f!important;
     border:none;
 }
#skills{
    height:70px;
    width: 40px;
}
#ed{
    height:60px;
    width: 35px;
}
#port{
    height:60px;
    width: 35px;
}
.bg-grey{
    background-color: #ccc!important;
}
.bg-redish{
    background-color: #f83d34!important;
}
.color-redish{
    color: #f83d34!important;
}
.bg-black{
    background-color: black!important;
}
.bg-white{
    background-color: white!important;
}
.flex-container {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.rounded {
    border-radius: 20px;
}
.flex-1{
    flex:1
}
.flex-2{
    flex:2
}

.flex-3{
    flex:3
}
.flex-1>a>img{
    width:100%
}
.b{
    border: 15px solid grey;
}
img.uk-width-1-2{
    width:50%!important;
}
#moz>.flex-1>a>img{
    width: 90%;height: 20rem;
}
#moz>a>img{
    width: 100%;height: 20rem;
}

.pb-o{
    padding-bottom: 0px;
}
.mb-0{
    margin-bottom:0px;
}

.pt-0{
    padding-top: 0px;
}

.mt-0{
    margin-top:0px;
}
.mt-1{
    margin-top:1%;
}
.mt-2{
    margin-top:2%;
}
.mt-3{
    margin-top:3%;
}
.mt-4{
    margin-top:4%;
}
.mt-5{
    margin-top:5%;
}

.pt-1{
    padding-top:1%;
}
.pt-2{
    padding-top:2%;
}
.pt-3{
    padding-top:3%;
}
.pt-4{
    padding-top:4%;
}
.pt-5{
    padding-top:5%;
}

.ml-0{
    margin-left:0px;
}
.ml-1{
    margin-left:1%;
}
.ml-2{
    margin-left:2%;
}
.ml-3{
    margin-left:3%;
}
.ml-4{
    margin-left:4%;
}
.ml-5{
    margin-left:5%;
}

.mr-0{
    margin-right:0px;
}
.mr-1{
    margin-right:1%;
}
.mr-2{
    margin-right:2%;
}
.mr-3{
    margin-right:3%;
}
.mr-4{
    margin-right:4%;
}
.mr-5{
    margin-right:5%;
}

#redish{
    color: #f83d34;
    font-size: x-large;
}

.color-black{
    color: #000!important;
}
.color-white{
    color: #fff!important;
}
.color-grey{
    color: #333333!important;
}
.color-d-grey{
    color: darkslategrey!important;
}

#mcontainer{
    max-width: 75%!important;
}
.uk-tab>li.uk-active{
    background-color: #f83d34;
}
.uk-tab>.uk-active>a{
    border: solid transparent;
    color: #fff!important;
}
.uk-container.uk-container-expand {
    padding: 0px;
}
.uk-tab>li>a{
    border: solid transparent;
    color: #fff!important;
    text-transform: capitalize;
}
.uk-tab>* {
    padding-left: 0px!important;
}
.uk-navbar{
    background-color: #c3dd3f!important;
}
.uk-navbar-toggle {
    color: #000!important;
}
#Login-container{
    background-image: url(../img/darkbg.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
}
.divider{
    padding-right: 70%;
    border-bottom: 1px solid;
    margin-left: 5%;
    top: -0.9em;
}
.divider-grey{
    padding-right: 70%;
    border-bottom: solid 1px dimgrey;
    margin-left: 5%;
    top: -0.6em;
}
.divider-grey2{
    padding-right: 63%;
    border-bottom: solid 1px dimgrey;
    margin-left: 5%;
    top: -0.6em;
}
.divider-grey3{
    padding-right: 33%;
    border-bottom: solid 1px dimgrey;
    margin-left: 5%;
    top: -0.6em;
}
#grnt{
    width: 63px;;
}
#icn{
    width:50%;
    height:50%;
}
button{
    background-color: #c3dd3f;
    color: #000!important;
}
.aef>button{
    background-color: #fff;
    color: #000!important;
    text-transform: capitalize;
}
#logo{
    height:75%;
    width:40px;
    margin: auto;
    padding: 10px 0px;
}
.uk-nav>li>a>img{
    height:60%;
    width:40px;
    margin: auto;
    padding: 10px 0px;
}
.uk-offcanvas-bar.uk-offcanvas-bar-animation.uk-offcanvas-slide{
    background-color: #666666;
    padding:0px;
    width:290px;
}
.uk-navbar-nav>li{
    margin-right:10px;
    margin-bottom: 10%;
}
.uk-navbar-nav>li>a{
    border-radius: 50%;
    height:150%;
    width:150%;
    padding:6px;
    background-color: white;
    color: #000!important;
}
.uk-nav-default>li>{
    padding: 19.5px;

}
form>p{
    color: #fff;
    font-size: large;
    font-weight:bold;
}
.uk-nav>li.uk-active{
    background-color: #fa903a;
}
.uk-nav>li:hover{
    background-color: #fa903a;
}
div#offcanvas-usage{
    height:57.5%;
    top:80px;
    width:290px;
}
.uk-navbar-nav{
    margin-right: 10px;
}
.pic>img{
    width:12rem;
    height:12rem;
    border-radius: 50%;
}
.pic{
    height:13rem;
}
span.uk-text-bold.uk-margin-left {
    display: inline-block;
}
@media (max-width: 450px)
{
    span.uk-text-bold.uk-margin-left {
        display: inline;
    }
}
@media (max-width: 959px)
{
    #bge{
        background-image: url(../img/darkbg.jpg);
        background-repeat: no-repeat;
        background-size: 200%;
    }
    .divider-grey3{
        padding-right: 0px;
        border-bottom: none;
        margin-left: 5%;
        top: -0.6em;
    }
    #moz>.flex-1>img{
        flex: 100%;
        width: 90%;
        height: 15rem;
    }
    #moz>a>img{
        flex: 100%;
        width: 100%!important;
        height: 15rem;
    }
    #moz>.flex-1{
        flex:100%;
    }

    .divider-grey2{
        padding-right: 30%;
        border-bottom: none;
        margin-left: 5%;
        top: -0.6em;
    }
    .divider-grey{
        padding-right: 30%;
        border-bottom: none;
        margin-left: 5%;
        top: -0.6em;
    }
    .divider{
        padding-right: 40%;
        margin-left: 5%;
    }

    .uk-navbar-nav>li{
        margin-right:3px;
        margin-bottom: 10px;
    }

    .uk-iconnav>*{
        padding: 0 0px;
    }
    .uk-navbar-nav>li>*{
        padding: 0 5px!important;
        border-radius: 50%;
        height:100%;
        width:100%!important;
        margin:0px 3px!important;
        margin-right: 0px!important;
        background-color: white;
        color: #000!important;
    }
    .uk-navbar-item, .uk-navbar-toggle{
        padding: 0 4px;
    }
    #Login-container{
        background-image: url(../img/darkbg.jpg);
        background-repeat: no-repeat;
        background-size: 250%;
    }
    }