@font-face { font-family: AvenirLTStd-Heavy; src: url('avenir-lt-85-heavy.ttf'); }
@font-face { font-family: AvenirLTStd-Heavy; font-weight: 900; src: url('avenir-lt-85-heavy.ttf') format('truetype');}
@font-face { font-family: AvenirLTStd-Roman; src: url('AvenirLTStd-Roman.otf'); }
@font-face { font-family: AvenirLTStd-Roman; font-weight: 900; src: url('AvenirLTStd-Roman.otf') format('otf');}
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
@font-face {
  font-family: 'DroidSerif';
  src: url('DroidSerif-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
label.form-check-label>img.radio.b1{
  width: 174px;
}
body.students{
  background-image: url(../img/topbg2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.xsm{
  font-size: x-small;
}
.sm{
  font-size: small;
}
.tright{
  position: absolute;
  right:80px;
  top: 0px;
}

.pad{
  padding-right:16px ;
  padding-left:19px ;
  padding-top: 13px;
  padding-bottom: 11px;
}

.posbt{
  position: absolute;
  top:70px;
  right: 60px;
}
input#optionsRadios1 {
  width: 27px;
  height: 27px;
}

.label--checkbox {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 25px;
  height: 25px;
  border: 2px solid #000;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 25px;
  height: 25px;
  background: #fff;
  cursor: pointer;
}

.button--round {
  -webkit-transition: 0.3s background ease-in-out;
  -moz-transition: 0.3s background ease-in-out;
  transition: 0.3s background ease-in-out;
  width: 2rem;
  height: 2rem;
  background: #5677fc;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.button--round i {
  font-size: 1rem;
  line-height: 220%;
  vertical-align: middle;
}
.button--round:hover {
  background: #000;
}

.button--sticky {
  position: fixed;
  right: 2rem;
  top: 16rem;
}

.content {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}





body {
  position: relative;
  overflow-x: hidden;
  height:100%;
}

.one, .two{
  margin-top: 5px;
  width: 305px;
  height: 250px;
}

.color-redish{
  color: #f83d34!important;
}
input.form-check-input {
  width: 25px;
  height: 25px;
}
.color-black{
  color: #000!important;
}
.color-white{
  color: #fff!important;
}
.color-grey{
  color: #333333!important;
}
.color-d-grey{
  color: darkslategrey!important;
}
.name{
  font-size: 35px;
  font-weight: 900!important;
  font-family: AvenirLTStd-Heavy;
}
.img{
  width: 165.6px;
}
.occu{
  font-size: 25px;
}
.tag{
  font-size: 15px;
}
.mt-a{
  margin-top: 71px;
}
.mt-b{
  margin-top: 29.3px;
}
.mb-b{
  margin-bottom: 29.3px;
}
.nav-item,.nav-link{
  border: 0px!important;
}

.bg-grey{
  background-color: #ccc!important;
}
.bg-redish{
  background-color: #f83d34!important;
}
.bg-black{
  background-color: black!important;
}
.bg-white{
  background-color: white!important;
}

.right>li{
  background-color: white;
  border-radius: 50%;
  margin-right: 15px;
}
div.one16{
  padding-top: 56px!Important;
}
body.login{
  background-image: url(../img/darkbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
div.s8{
  margin-top: 39px!important;
}
.h144{
  height: 166.828px;
}
body.profile{
  background-image: url(../img/topbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 10px;
}
.create{
  background-image: url(../img/breadbg.jpg)!important;
  background-repeat: no-repeat;
  background-size: 100%;
}
.right>li>a{
  padding: 2px;
}
.right>li>a>img{
  padding:1px;
  margin: 4px;;
  width: 20px;
  height:20px;
}
nav#sidebar-wrapper{
  margin-top: 54px;
  position: fixed;
}
.nav-item>img{
  width:47px;
}
body,
html {
  height: auto;
  font-family: AvenirLTStd-Roman;
}
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}
.bg-faded{
  background-color: #c3dd3f;
}
.navbar-brand{
  margin-left: 45px;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  /*-moz-transition: all 0.5s ease;*/
  /*-o-transition: all 0.5s ease;*/
  /*-webkit-transition: all 0.5s ease;*/
  padding-left: 0;
  /*transition: all 0.5s ease;*/
}
#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
  left: 0px;
}
.nav-link{
  display: inline;
}
.li>li.nav-item {
  padding: 5px;
}
.li>li.nav-item>a{
  color: #fff;
}
.nav-tabs>li>a{
  border-radius: 0px!important;
}
.li>li.nav-item.active>a{
  color: #000;
}
ul.nav.flex-column {
  width: 100%;
}
.heavy{
  font-family: AvenirLTStd-Heavy!important;
}
.about>.nav-link.active{
  background-color: #f83d34!important;
  color: white!important;
}
.rest>li>.nav-link.active{
  background-color: white;
  color: #f83d34;
}

.divider{
  padding-right: 70%;
  border-bottom: 1px solid;
  margin-left: 5%;
  top: -0.9em;
}
.rest>li{
  padding:0px;
}
.rest>li>.nav-link{
  color: #fff;
}
.li>li.nav-item.active {
  background-color: #fa903a;
  width:100%;
}
.li>li.nav-item:hover{
  background-color: #fa903a;
  color: #000!important;
}
#sidebar-wrapper {
  /*-moz-transition: all 0.5s ease;*/
  /*-o-transition: all 0.5s ease;*/
  /*-webkit-transition: all 0.5s ease;*/
  background: #666666;
  height: auto;
  left: 0px;
  top:60px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  /*transition: all 0.5s ease;*/
  width: 0;
  z-index: 9999;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#page-content-wrapper {
  padding-top: 0px;
  width: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li:before {
  background-color: #1c1c1c;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: -1;
}
.sidebar-nav li:first-child a {
  background-color: #1a1a1a;
  color: white;
}
.sidebar-nav li:first-child a:hover {
  color: black;
  background-color: white;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #e5e5e5;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #f2f2f2;
}
.sidebar-nav li:nth-child(4):before {
  background-color: white;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #ffffff;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #ffffff;
}
.sidebar-nav li:nth-child(7):before {
  background-color: #ffffff;
}
.sidebar-nav li:nth-child(8):before {
  background-color: #ffffff;
}
.sidebar-nav li:nth-child(9):before {
  background-color: #ffffff;
}
.sidebar-nav li:hover:before {
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li.open:hover before {
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: black;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 0px;
  position: fixed;
  top: 10px;
  width: 32px;
  z-index: 999;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-webkit-transition: all 0.35s ease-in-out;*/
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover before {
  /*-webkit-transform: translate3d(-100px, 0, 0);*/
  /*-webkit-transition: all 0.35s ease-in-out;*/
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  /*-webkit-transition: all 0.35s ease-in-out;*/
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  /*-webkit-transition: all 0.35s ease-in-out;*/
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  /*-webkit-transition: all 0.35s ease-in-out;*/
  background-color: black;
  top: 5px;
}
.bg-blueish{
  background-color: #00aba8!important;
}
.hamburger.is-closed .hamb-middle {
  background-color: black;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  /*-webkit-transition: all 0.35s ease-in-out;*/
  background-color: black;
  bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
a:hover{
  text-decoration: none!important;
}
a:active{
  text-decoration: none!important;
}
a{
  text-decoration: none!important;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: #fff;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.w-afe{
  width:65%;
}
.mnew{
  margin-left: 36px;
}
.b{
  border: 17px solid grey;
}
.t6{
  font-size: 36px;
}
.b2{
  border: 9px solid grey;
}
.b1{
  border: 10px solid #333333;
  border-radius: 50%;
}
.border{
  border:solid 1px #acacac;
}
.set{
  background-color: #f15a25!important;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.ten{
    margin-top: 137.3px;
}
form>button{
  width: 110px;
}
.round {
  border-radius: 15px;
}
.ten>div>div>img{
  width: 143.3px;
  height: 143.3px;
}
.ten>div>div>h3{
  font-size: 25px;
  color: #e6e6e6;
}
.form-control{
  width: 318px;
}
.aef>.uk-button.mt-2{
  font-size: 20px;
}
.bt>.uk-button.mt-2{
  text-transform: capitalize;
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.pten{
  padding-top:10%;
}
.uk-subnav>*>:first-child{
  text-transform: capitalize;
}
.w-20{
  width:20%!important;
}
.film,.television,.theatre{
  text-transform: uppercase!important;
}
.divider-grey{
  padding-right: 65%;
  border-bottom: solid 1px dimgrey;
  margin-left: 5%;
  top: -0.6em;
}
.divider-grey2{
  padding-right: 63%;
  border-bottom: solid 1px dimgrey;
  margin-left: 5%;
  top: -0.6em;
}
.divider-grey3{
  padding-right: 33%;
  border-bottom: solid 1px dimgrey;
  margin-left: 5%;
  top: -0.6em;
}
.badge-danger{
  background-color: #f83d34;
}
.badge-info{
  background-color: #00aba8!important;
}
.badgepr-3{
  padding-right: .8rem!important;
  padding-left: 1.0rem!important;
}
.size>a>img{
  width:38px;
}
.size{
  position: static;
}
.def{
  background-color: #c3dd3f!important;
}
.bef>{
  padding: .9em;
}
.front{
  z-index:20000;
  top: 20px;;
  position: absolute;
  right: 30px;
}
.bef>a>img {
  width:25px;
  max-width:none;
  height:25px;
}
@media (max-width: 360px)
{
  .badges>div>h6{
    font-size: x-small!important;
  }

  .badges>div>div>a>img{
    height: 30px;
  }

}
@media (max-width: 959px)
{
  .front{
    margin-top: 2px!important;
    top: -22px;
    right: 0px;;
  }
  body.login{
    background-size: 300%;
  }
  body.students{
    background-size: 400%;
  }
  .badges>div>div.a{
    padding: .9rem!important;
  }
  .badges>div>div.c{
    padding: .9rem!important;
  }
  .badges>div>div.d{
    padding: .7rem!important;
  }

  .badges>div>div.e{
    padding: .9rem .3rem .9rem .6rem!important
  }
  .badges>div>h6{
    font-size: small;
  }
  .ten{
    margin-top: 25%;
  }
  body.profile{
    background-size: 400%;
    background-image: url(../img/darkbg.jpg);
  }
  .sticky-top{
    position: fixed;
    width: 100%;
  }
  .uk-subnav{
    margin-left: 0px!important;
  }
  .mt-a{
    margin-top: 40px
  }
  .uk-subnav {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    padding: 0;
    list-style: none;
  }
  .adcom{
    display: block!important;
  }
  .divider{
    padding-right: 40%;
    margin-left: 5%;
  }
  .shrink>div>div>h3{
    font-size: large;
    text-align: center;
  }
  .shrink>div>div>h5{
    font-size: xx-small;
    text-align: center;
  }
  .divider-grey{
    padding-right: 30%;
    border-bottom: none;
    margin-left: 5%;
    top: -0.6em;
  }
  .divider-grey2{
    padding-right: 30%;
    border-bottom: none;
    margin-left: 5%;
    top: -0.6em;
  }
  img.rounded{
    height:100%;
  }
  .w-afe{
    width:100%;
  }
  .divider-grey3{
    padding-right: 0px;
    border-bottom: none;
    margin-left: 5%;
    top: -0.6em;
    display: none;
  }
  .h144{
    height:auto;
    margin-top: 10%!important;
  }
  .h144>h2{
    font-size: 1.8rem!important
  }
  .inc{
    width:100%;
    display: block;
  }
  .remove{
   padding: 0px!important;
    margin: 0px!important;
    clear: both;
  }
}
