@font-face { font-family: AvenirLTStd-Heavy; src: url('avenir-lt-85-heavy.ttf'); }
@font-face { font-family: AvenirLTStd-Heavy; font-weight: 900; src: url('avenir-lt-85-heavy.ttf') format('truetype');}
@font-face { font-family: AvenirLTStd-Roman; src: url('AvenirLTStd-Roman.otf'); }
@font-face { font-family: AvenirLTStd-Roman; font-weight: 900; src: url('AvenirLTStd-Roman.otf') format('otf');}
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
@font-face {
  font-family: 'DroidSerif';
  src: url('DroidSerif-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  overflow-x: hidden;
}

.color-redish{
  color: #f83d34!important;
}
.color-black{
  color: #000!important;
}
.color-white{
  color: #fff!important;
}
.color-grey{
  color: #333333!important;
}
.color-d-grey{
  color: darkslategrey!important;
}
.name{
  font-size: 35px;
  font-weight: 900!important;
  font-family: AvenirLTStd-Heavy;
}
.img{
  width: 165.6px;
}
.occu{
  font-size: 25px;
}
.tag{
  font-size: 15px;
}
.mt-a{
  margin-top: 71px;
}
.mt-b{
  margin-top: 29.3px;
}
.mb-b{
  margin-bottom: 29.3px;
}
.nav-item,.nav-link{
  border: 0px!important;
}

.bg-grey{
  background-color: #ccc!important;
}
.bg-redish{
  background-color: #f83d34!important;
}
.bg-black{
  background-color: black!important;
}
.bg-white{
  background-color: white!important;
}

.right>li{
  background-color: white;
  border-radius: 50%;
  margin-right: 15px;
}
body.login{
  background-image: url(../img/darkbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
body.profile{
  background-image: url(../img/topbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 40px;
}
.right>li>a{
  padding: 2px;
}
.right>li>a>img{
  padding:1px;
  width: 20px;
  height:20px;
}
nav#sidebar-wrapper{
  margin-top: 54px;
  position: fixed;
}
.nav-item>img{
  width:47px;
}
body,
html {
  height: 100%;
  font-family: AvenirLTStd-Roman;
}
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}
.bg-faded{
  background-color: #c3dd3f;
}
.navbar-brand{
  margin-left: 45px;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  /*-moz-transition: all 0.5s ease;*/
  /*-o-transition: all 0.5s ease;*/
  /*-webkit-transition: all 0.5s ease;*/
  padding-left: 0;
  /*transition: all 0.5s ease;*/
}
#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
  left: 0px;
}
.nav-link{
  display: inline;
}
.li>li.nav-item {
  padding: 5px;
}
.li>li.nav-item>a{
  color: #fff;
}
.nav-tabs>li>a{
  border-radius: 0px!important;
}
.li>li.nav-item.active>a{
  color: #000;
}
ul.nav.flex-column {
  width: 100%;
}
.about>.nav-link.active{
  background-color: #f83d34!important;
  color: white!important;
}
.rest>li>.nav-link.active{
  background-color: white;
  color: #f83d34;
}
.rest>li>.nav-link{
  color: #fff;
}
.li>li.nav-item.active {
  background-color: #fa903a;
  width:100%;
}
.li>li.nav-item:hover{
  background-color: #fa903a;
  color: #000!important;
}
#sidebar-wrapper {
  /*-moz-transition: all 0.5s ease;*/
  /*-o-transition: all 0.5s ease;*/
  /*-webkit-transition: all 0.5s ease;*/
  background: #666666;
  height: auto;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  /*transition: all 0.5s ease;*/
  width: 0;
  z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#page-content-wrapper {
  padding-top: 0px;
  width: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li:before {
  background-color: #1c1c1c;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: -1;
}
.sidebar-nav li:first-child a {
  background-color: #1a1a1a;
  color: white;
}
.sidebar-nav li:first-child a:hover {
  color: black;
  background-color: white;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #e5e5e5;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #f2f2f2;
}
.sidebar-nav li:nth-child(4):before {
  background-color: white;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #ffffff;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #ffffff;
}
.sidebar-nav li:nth-child(7):before {
  background-color: #ffffff;
}
.sidebar-nav li:nth-child(8):before {
  background-color: #ffffff;
}
.sidebar-nav li:nth-child(9):before {
  background-color: #ffffff;
}
.sidebar-nav li:hover:before {
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li.open:hover before {
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: black;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 0px;
  position: fixed;
  top: 10px;
  width: 32px;
  z-index: 999;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-webkit-transition: all 0.35s ease-in-out;*/
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover before {
  /*-webkit-transform: translate3d(-100px, 0, 0);*/
  /*-webkit-transition: all 0.35s ease-in-out;*/
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  /*-webkit-transition: all 0.35s ease-in-out;*/
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  /*-webkit-transition: all 0.35s ease-in-out;*/
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  /*-webkit-transition: all 0.35s ease-in-out;*/
  background-color: black;
  top: 5px;
}
.hamburger.is-closed .hamb-middle {
  background-color: black;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  /*-webkit-transition: all 0.35s ease-in-out;*/
  background-color: black;
  bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: #fff;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.ten{
    margin-top: 137.3px;
}
form>button{
  width: 110px;
}
.round {
  border-radius: 20px;
}
.ten>div>div>img{
  width: 143.3px;
  height: 143.3px;
}
.ten>div>div>h3{
  font-size: 25px;
  color: #e6e6e6;
}
.form-control{
  width: 318px;
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

@media (max-width: 959px)
{
  body.login{
    background-size: 300%;
  }
  .ten{
    margin-top: 10%;
  }
}
